#slideImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

#image {
  position: fixed !important;
  display: none;
}

.change {
	width: 150px;
	margin: auto;
	text-align: center;
}

#no_bookmark_urls {
  text-align: center;
}

/* logged in のとき login_line を隠す */
.logged_in .login_link {
  display: none;
}